

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}


.container {
    max-width: 800px; 
    margin: 0 auto; 
    padding: 20px;
}


h1 {
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
}


.semana {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}


.dia {
    flex-grow: 1; 
    padding: 10px;
    background-color: #317EFB;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.dia:hover {
    background-color: #1E62D0;
}


#treino {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}


#salvar {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#salvar:hover {
    background-color: #45a049;
}


.informacoes {
    margin-top: 20px;
}


.aba-content {
    display: none;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
}


input[type="radio"]:checked + .aba-content {
    display: block;
}
